<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pluginswiftdemo" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
       <name>PluginSwiftDemo</name>
         <js-module name="PluginSwiftDemo" src="www/PluginSwiftDemo.js"> 
            
                   <clobbers target="PluginSwiftDemo" />
         
         </js-module>
<platform name="ios">
    <config-file parent="/*" target="config.xml"><feature name="PluginSwiftDemo">
       <param name="ios-package" value="PluginSwiftDemo" />
        </feature>
</config-file>
<source-file src="src/ios/PluginSwiftDemo.swift" />
<dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
</platform>
</plugin>